[submodule "lib/Maixduino_GC0328"]
	path = lib/Maixduino_GC0328
	url = https://github.com/fukuen/Maixduino_GC0328
[submodule "lib/Maixduino_WiFiEsp32"]
	path = lib/Maixduino_WiFiEsp32
	url = https://github.com/fukuen/Maixduino_WiFiEsp32
[submodule "lib/ArduinoMDNS"]
	path = lib/ArduinoMDNS
	url = https://github.com/fukuen/ArduinoMDNS
